@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
	margin: 0 auto;
	max-width: 97em;
	padding: 4em 1em;
	line-height: 1.5;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	color: #555;
	background-color: #f7f7f7;
}

h1 {
	font-size: 18px;
}

p {
	text-align: center;
}

.error {
	color: red;
	font-weight: bold;
}

.dropdown-menu {
	text-align: center;
	min-width: 120px;
}

.dropdown-menu li {
	cursor: pointer;
}

.dropdown-menu li:hover {
	background-color:#dedede;
}

.bold {
	font-weight: bold;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-xs {
	font-size: .75em;
}

.text-sm {
	font-size: .85em;
}

[hidden] {
	display: none!important;
}