@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
	margin: 0 auto;
	max-width: 90em;
	padding: 4em 1em;
	line-height: 1.5;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	color: #555;
	background-color: #f7f7f7;
}

h1 {
	font-size: 18px;
}

p {
	text-align: center;
}

.error {
	color: red;
	font-weight: bold;
}

.dropdown-menu {
	text-align: center;
}

.dropdown-menu li {
	cursor: pointer;
}

.dropdown-menu li:hover {
	background-color:#dedede;
}