@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
	margin: 0 auto;
	max-width: 50em;
	line-height: 1.5;
	padding: 4em 1em;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	color: #555;
	background-color: #f7f7f7;
}