@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
	padding: 4em 1em;
	line-height: 1.5;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	color: #555;
	background-color: #f7f7f7;
}

section {
	margin: 0 auto;
	max-width: 70em;
}

p {
	text-align: center;
}

.error {
	color: red;
	font-weight: bold;
}