table {
	margin-top: 1.5em;
	width: 100%;
}

table, th, td {
	border: 1px solid black;
}

th, td {
	padding: .5em;
}

th {
	text-align: left;
	cursor: pointer;
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}
table th {
    background-color: white;
}