table#stats-as-table thead tr{
	position: relative;
	display: block;
}

table#stats-as-table tbody{
	display: block;
	overflow-y: scroll;
	height: 600px;
}


table#stats-as-table th, table#stats-as-table td {
	padding: .5em;
	max-width: 14em;
	min-width: 14em;
}

table#stats-as-table td pre{
	display: block;
	padding: 0;
	margin: 0;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
	color: inherit;
	word-break: break-all;
	word-wrap: break-word;
	background-color: inherit;
	border: none;
	border-radius: 0px;
}

table#stats-as-table th {
	cursor: pointer;
}

.table-responsive {
	width:100%;
	margin: 1.5em auto;
}

.dropdown-menu {
	width: 150px;
	left: 50%;
	margin-left: -108px;
}

.pokemon-list {
	padding: 0;
}

.pokemon-list-item {
	height: 360px;
	padding: 0 5px;
}

.pokemon-list-item-content {
	height: 350px;
	background-color: white;
	position: relative;
}

.pokemon-overview > div > span {
	padding: 0;
}

.pokemon-ivs > div {
	height: 30px;
}

.pokemon-ivs > div > span {
	padding: 0 5px 0 0;
}

.pokemon-ivs > div > img {
	padding: 0;
}

.pokemon-moves {
	margin: 5px 0;
}

.pokemon-moves > .row > span {
	padding: 0;
}

.selected-icon {
	height: 10px;
	width: 10px;
}

.pokemon-actions {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 10px auto;
}