table {
	margin: 1.5em auto;
}

th, td {
	padding: .5em;
}

table tr:nth-child(even) {
    background-color: #e7e7e7;

}
table tr:nth-child(odd) {
    background-color: #d7d7d7;
}
table th {
    background-color: #c7c7c7;
    text-align: left;
	cursor: pointer;
}