.dropdown{
	text-align:center;
}

.dropdown-menu{
	width:150px; 
	left:50%; 
	margin-left:-75px;
}

.glyphicon-refresh {
	cursor: pointer
}

#pokemon-stats-component h1{
	text-align: center;
}

#pokemon-stats-component section {
	margin: 1.5em auto;
	text-align: center;
}

#title-heading{
	display: inline-block;
}

#display-by{
	margin-bottom: 1.5em;
}