.settings-container {
	margin-bottom: 20px;
}

.row > section {
	padding: 0;
}

#sort-orders .dropdown-menu, #table-settings .dropdown-menu {
	right: 0;
}

@media (min-width: 768px) {
	#settings .dropdown-menu {
		left: 12%;
	}
}

@media (min-width: 1200px) {
	#settings .dropdown-menu {
		left: 23%;
	}
}