#settings .dropdown-menu {
	width: 150px;
    left: 50%;
    margin-left: -50px;
}

#table-settings .dropdown-menu{
	width: 150px;
	left: 50%;
	margin-left: -108px;
}

#settings, #table-settings{
	margin-bottom: 1.5em;
}

#settings{
	width: 7em;
	float:left;
}

#table-settings{
	width:8em;
	float:right;
}