<table id="stats-as-table" *ngIf="_useTabularFormat">
	<thead>
		<tr>
			<th *ngFor="let stat of _pokemonTableStats" (click)="_sortPokemon(stat.property, true)">{{stat.heading}}</th>
			<th *ngIf="_showTransferButton">Transfer</th>
			<th *ngIf="_showRenameButton">Rename</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let mon of _pokemon; let i = index">
			<td *ngFor="let stat of _pokemonTableStats">
				<span>{{_getTableOutput(mon, stat.property)}}</span>
			</td>
			<td *ngIf="_showTransferButton">
				<button type="button" [disabled]="mon.favorite || _transferringPokemonAtIndex !== null" (click)="_transferPokemon(mon, i)">{{_getTransferButtonText(i)}}</button>
			</td>
			<td *ngIf="_showRenameButton">
				<button type="button" [disabled]="_renamingPokemonAtIndex !== null || _transferringPokemonAtIndex !== null" (click)="_renamePokemon(mon, i)">{{_getRenameButtonText(i)}}</button>
			</td>
		</tr>
	</tbody>
</table>

<div *ngIf="!_useTabularFormat">
	<div class="sortby-wrapper">
		<span>Sort Orders: </span>
		<div class="sortby-item" *ngFor="let key of _getSortOrders()" (click)="_sortPokemon(key, true)">
			{{_pokemonTableSortOrders[key].name}}
		</div>
	</div>

	<div class="pokemon-list-wrapper">
		<div class="pokemon-list-item" *ngFor="let mon of _pokemon; let i = index">
			<div class="title">
				CP {{ mon.cp }}
				<img *ngIf="mon.favorite" class="favorite" src="webapp/img/star-icon.png">
			</div>
			<div>
				Level {{ mon.level }}
			</div>
			<img class="image" src="https://silphassets.a.cdnify.io/img/pokemon/icons/96x96/{{mon.pokedex_number}}.png" title="{{mon.species}}"/>
			<div class="name">
				{{ mon.name }}
			</div>
			<div class="type">
				<img src="http://serebii.net/pokedex-bw/type/{{ mon.move_type_1 }}.gif">
				<img *ngIf="mon.move_type_2 !== 'None'" src="http://serebii.net/pokedex-bw/type/{{ mon.move_type_2 }}.gif">
			</div>
			<div class="moves">
				<table>
					<tr *ngFor="let atk of mon.moves.fast">
						<td>
							<img *ngIf="atk.selected" src="webapp/img/checkbox-filled-icon.png" class="selected-icon">
							<img *ngIf="!atk.selected" src="webapp/img/checkbox-empty-icon.png" class="selected-icon">
						</td>
						<td><img src="http://serebii.net/pokedex-bw/type/{{ atk.type }}.gif"></td>
						<td>{{ atk.name }}</td>
						<td>{{ atk.DPS }} DPS</td>
					</tr>
					<tr class="separator"></tr>
					<tr *ngFor="let atk of mon.moves.charged">
						<td>
							<img *ngIf="atk.selected" src="webapp/img/checkbox-filled-icon.png" class="selected-icon">
							<img *ngIf="!atk.selected" src="webapp/img/checkbox-empty-icon.png" class="selected-icon">
						</td>
						<td><img src="http://serebii.net/pokedex-bw/type/{{ atk.type }}.gif"></td>
						<td>{{ atk.name }}</td>
						<td>{{ atk.DPS }} DPS</td>
					</tr>
				</table>
			</div>
			<table class="candies">
				<tr>
					<td><img src="webapp/img/sword-icon.png"></td>
					<td>{{ mon.attack_iv }}</td>
				</tr>
				<tr>
					<td><img src="webapp/img/shield-icon.png"></td>
					<td>{{ mon.defense_iv }}</td>
				</tr>
				<tr>
					<td><img src="webapp/img/heart-icon.png"></td>
					<td>{{ mon.stamina_iv }}</td>
				</tr>
			</table>
			<table class="iv">
				<tr>
					<td>IV</td>
					<td>{{ mon.iv_percentage | number:'.0-0' }}%</td>
				</tr>
				<tr>
					<td>HP</td>
					<td>{{mon.current_hp}} / {{mon.max_hp}}</td>
				</tr>
			</table>
			<div class="actions">
				<button *ngIf="_showTransferButton" type="button" [disabled]="mon.favorite || _transferringPokemonAtIndex !== null || _renamingPokemonAtIndex !== null" (click)="_transferPokemon(mon, i)">{{_getTransferButtonText(i)}}</button>
				<button *ngIf="_showRenameButton" type="button" [disabled]="_renamingPokemonAtIndex !== null || _transferringPokemonAtIndex !== null" (click)="_renamePokemon(mon, i)">{{_getRenameButtonText(i)}}</button>
			</div>
			<!-- http://serebii.net/pokedex-bw/type/psychic.gif -->
			<!-- http://serebii.net/pokemongo/4energy.png -->
		</div>
	</div>
</div>
