<div id="pokemon-stats-component" [hidden]="_pokemonService.pokemon.length <= 0">
	<section>
		<section class="title">
			<a (click)="_export()" id="csvDownloadLink"><span class="glyphicon glyphicon-download-alt"></span></a>
			<h1 id="title-heading">{{_title}}</h1>
			<span class="glyphicon glyphicon-refresh" (click)="_refreshPokemon()" aria-hidden="true"></span>
		</section>
		<p>{{_content}}</p>
	</section>
	<pokemon-table [hidden]="!_settingsService.displayByMonster"></pokemon-table>
	<pokemon-species [hidden]="_settingsService.displayByMonster"></pokemon-species>
</div>
