<div id="sort-orders" class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button" id="sort-orders-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		Sort Orders
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="sort-orders-dropdown">
		<li *ngFor="let key of _sortService.speciesSortOrders" (click)="_sortService.sortSpecies(key, true)">
			{{_properties.speciesSortOrders[key].name}}
		</li>
	</ul>
</div>

<div class="pokemon-list-wrapper">
  <div class="pokemon-list-item" *ngFor="let species of _pokemonService.species; let i = index">
    <img class="icon" src="http://www.serebii.net/pokemongo/pokemon/{{species.pokedex_number | prependZeros }}.png" title="{{species.species}}" height="100"/>
    <div class="name">
      {{ species.species }}<br/>
      Count: {{ species.count }}
    </div>
    <table class="candies">
      <tr>
        <td><img src="webapp/img/candy-icon.png"></td>
        <td>{{ species.candy }}</td>
      </tr>
      <tr *ngFor="let descendant of species.evolve">
        <td><img class="image" src="http://www.serebii.net/pokemongo/pokemon/{{descendant.id | prependZeros }}.png" height="24"/></td>
        <td>{{ descendant.canEvolve }}</td>
      </tr>
      <tr [hidden]="species.transfer < 1">
        <td><img src="https://cdn2.iconfinder.com/data/icons/data-transfer/24/data-transfer-3-16.png"></td>
        <td>{{ species.transfer }}</td>
      </tr>
      <tr [hidden]="species.need === 0">
        <td><img src="https://cdn3.iconfinder.com/data/icons/big-icon-s-collection-pack/500/plus-sign-16.png"></td>
        <td>{{ species.need }}</td>
      </tr>
    </table>
  </div>
</div>
