<div id="pokemon-stats-component" [hidden]="!_pokemonLoaded">
	<section>
		<section class="title">
			<a (click)="pokemonTable.export()" id="csvDownloadLink"><span class="glyphicon glyphicon-download-alt"></span></a>
			<h1 id="title-heading">{{_title}}</h1>
			<span class="glyphicon glyphicon-refresh" (click)="_refreshPokemon()" aria-hidden="true"></span>
		</section>
		<p>{{_content}}</p>
	</section>
	<div id="display-by" class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="display-by-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Display By
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="display-by-dropdown">
			<li (click)="_setDisplayByMonster(true)">Monster</li>
			<li (click)="_setDisplayByMonster(false)">Species</li>
		</ul>
	</div>
	<pokemon-table [hidden]="!_displayByMonster"></pokemon-table>
	<pokemon-species [hidden]="_displayByMonster"></pokemon-species>
</div>
